<table class="table table-bordered">
  <thead>
    <tr><th>ジャンル検索</th></tr>
  </thead>
  <tbody>
    <% Genre.all.each do |genre| %>
    <% if genre.is_status == '有効' %>
    <tr>
      <td>
        <%= link_to genre.name, publics_genre_items_path(genre) %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>