<div class="item-container">
  <% @items.each do |item| %>
    <%= link_to publics_item_path(item.id) do %>
      <div class="img_field" style="display:inline-block;">
        <div class="col-xs-6">
          <%= attachment_image_tag item, :image, size: "250x250", format: 'jpeg', fallback: "no-image.png" %>
        </div>
        </div>
        <div class="item-field">
          <div class="col-xs-6">
            <p><%= item.name %></p>
            <% if item.is_status == '販売中' %>
              <p>¥<%= item.price.to_s(:delimited) %></p>
            <% else item.is_status == '販売中止' %>
              <p>売切れ</p>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>
