<div class="row">
  <div class="col-xs-9">
  <h2 style="margin-top: 30px; margin-left: 100px;">管理者画面</h2>
    <h3 style="margin-top: 100px;">本日の注文件数
        <%= link_to admins_orders_path do %>
          <%= @orders.count %>
        <% end %>
    件</h3>
  </div>
</div>
