// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-form {
  width: 300px;
}

.item-explanation {
  width: 300px;
}

.item-genre {
  width: 300px;
}

.item-price {
  width: 300px;
}

.item-status {
  width: 300px;
}



